<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add field</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
</head>
<body>
<br/>
<form method="post">
        <div class="add form">
			<div class="group">
                <div class="group-ipt add">
					<input type="text" name="add_field" id="add_field" class="ipt" placeholder="Please enter the name of the field" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="add-btn" id="button">add</button>
            </div>
		</div>
    </form>

</body>
</html>