<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
</head>
<body>
<div class="a">
    <h1>Matching Results</h1>
    <table border="1" style="text-align: center; width: 20%; margin-top: 20px">
        <tr>
            <th>Student</th>
            <th>Mentor</th>
        </tr>
        {% for result in all_match_name %}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1 style="margin-top: 20px">The maximum score is {{ score }} </h1>
</div>
<div><a href="{{ url_for('manager')}}">
    <button type="button" style="width:300px;height:80px;font-size: 40px;margin-top: 20px">Last page</button>
</a></div>
</body>
</html>