<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete field</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
</head>
<body>
<br/>
<form method="post">
        <div class="delete form">
			<div class="group">
                <div class="group-ipt delete">
					<input type="text" name="field_delete" id="field_delete" class="ipt" placeholder="Please enter the field name to delete" required>
				</div>
			</div>
            <div class="button">
                <button type="submit" class="delete-btn" id="button">Delete</button>
            </div>
		</div>
    </form>

</body>
</html>