<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>
    <a href="{{ url_for('login') }}">Administrator Login</a>
</div>
<div>
    <a href="{{ url_for('mentor_login')}}">Mentor Login</a>
</div>
<div>
    <a href="{{ url_for('student_login')}}">Student Login</a>
</div>
<div>
    <a href="{{ url_for('student_register')}}">Student Registration</a>
</div>
<div>
    <a href="{{ url_for('mentor_register')}}">Mentor Registration</a>
</div>

</body>
</html>