<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student_login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/register-login.css">
</head>
<body>
<div class="cent-box">
    <div class="cont-main clearfix">
        <h1>Student Login</h1>
        <form method="post">
            <div class="login form">
                <div class="group">
                    <div class="group-ipt name">
                        <input type="text" name="name" id="name" class="ipt" placeholder="Please enter your name"
                               required>
                    </div>
                    <div class="group-ipt password">
                        <input type="password" name="password" id="password" class="ipt"
                               placeholder="Please enter your password" required>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="login-btn" id="button">login</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>